<app-header (change)="searchGif($event.target)"></app-header>
<!-- Grid --->
<div class="grid-container">
  <ngx-giphy-grid
    class="w-full flex-1 overflow-y-scroll"
    (gifs)="setGifs($event)"
    [searchObj]="searchObj"
    (loading)="setLoading($event)"
    [mode]="mode"
  >
    <picture
      class="cursor-pointer"
      (click)="selectGif(gif, i)"
      *ngFor="let gif of gifs; index as i"
    >
      <source type="image/webp" [srcset]="gif.webp" />
      <img [alt]="gif.altText" [src]="getUrl(gif.url)" />
      <span class="alt-text">{{ gif.altText }}</span>
    </picture>
  </ngx-giphy-grid>
</div>
<app-footer></app-footer>
