@import "../../../scss/mixins";

.search {
  width: 400px;
  text-align: left;
  margin-left: 100px;
  .search__wrapper {
    height: 60px;
    position: relative;
    background-color: var(--secondary);
    font-size: 1.2rem;
    font-weight: 300;
    color: var(--text);
    .fa-magnifying-glass {
      position: absolute;
      left: 16px;
      top: 20px;
      color: var(--text);
      opacity: 0.5;
      @include transition(opacity 0.4s ease-in-out);
    }
    &:focus-within {
      &:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        border-bottom: solid 2px var(--highlight);
        animation: border_anim 0.3s linear forwards;
      }
      .fa-magnifying-glass {
        opacity: 0.8;
      }
    }
    input {
      @include placeholder;
      width: 100%;
      height: 60px;
      padding: 0 16px 0 44px;
      font-size: 1.2rem;
      font-weight: 300;
      color: var(--text);
      border-radius: 0;
      background: none;
      appearance: none;
      border: none;
      font-family: inherit;
      &::-webkit-search-cancel-button {
        -webkit-appearance: none;
        height: 1.5em;
        width: 1.5em;
        background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/light/times.svg)
          no-repeat 50% 50%;
        background-size: contain;
        opacity: 0;
        pointer-events: none;
        cursor: pointer;
      }
      &:focus {
        outline: none;
        @include placeholder-transparent;
        &::-webkit-search-cancel-button {
          opacity: 0.4;
          pointer-events: all;
        }
      }
    }
  }
}
