@mixin reset {
  * {
    box-sizing: border-box;
  }
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin transform($property) {
  -webkit-transform: $property;
  -moz-transform: $property;
  -ms-transform: $property;
  -o-transform: $property;
  transform: $property;
}

@mixin transition($transition) {
  -webkit-transform: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

@mixin placeholder {
  &::placeholder {
    color: var(--text);
    opacity: 0.5;
    font-weight: 300;
  }
  &:-ms-input-placeholder {
    color: var(--text);
    opacity: 0.5;
    font-weight: 300;
  }
  &::-ms-input-placeholder {
    color: var(--text);
    opacity: 0.5;
    font-weight: 300;
  }
}

@mixin placeholder-transparent {
  &::placeholder {
    color: transparent;
  }
  &:-ms-input-placeholder {
    color: transparent;
  }
  &::-ms-input-placeholder {
    color: transparent;
  }
}

@keyframes border_anim {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes border_close_anim {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}
