.footer {
  height: 80px;
  width: 100%;
  background-color: var(--primary);
  font-size: 1rem;
  margin-top: auto;
  border-top: var(--highlight) 1px solid;
  .footer__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1000px;
    margin: 0 auto;
    .powered {
      display: block;
      width: 140px;
      height: 80px;
      background: url("../assets/Poweredby_640px-Black_VertLogo.png") center
        no-repeat;
      background-size: contain;
      background-color: transparent;
    }
    .copyright {
      color: var(--text);
    }
  }
}
